---
id: verification
title: "Verification"
scopeid: essifLab
type: concept
typeid: verification
stage: draft
hoverText: "Verification (of data): the process that a Party uses to determine whether or not what that data represents is in fact true (veracity)."
glossaryText: "the process that a %%party^party%% uses to determine whether or not what that data represents is in fact true (veracity)."
---

:::info Editor's note
TNO (or others) to provide the content of this file.
:::

Explain that verification is not validation:
- verification (of data) is the process of determining whether or not what the data represents is in fact true (veracity).
- validation (of data) is the process of determining whether or not data can be used to base a decision on. For example, a liquor selling party may determine that if someone simply says (s)he is 18+, that is valid data for deciding whether or not to sell the liquor, regardless of whether or not that statement is true.