name: framework

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  checks:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - name: Test Build
        run: |
          yarn install --frozen-lockfile
          yarn docusaurus parse
          yarn docusaurus glossary
          yarn build
          mv build public
  gh-release:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email "miliadi@admin.grnet.gr"
          git config --global user.name "MarIliadi"
          yarn install --frozen-lockfile
          yarn docusaurus parse
          yarn docusaurus glossary
          yarn build
          mv build public
          yarn deploy
